
		<footer>
			<div>
				© ClearList 2019
			</div>
			<div>
				<a href="/" title="Home">Home</a> | <a href="/legal" title="Legal notice">Privacy Policy and Terms of Service</a> | <a href="mailto:me@joshua.ovh?subject=About%20ClearList">Contact Joshua</a>
			</div>
		</footer>
	</div> <!-- /container -->
</body>
</html>