    <%- include('_header', {title: "Privacy Policy and Terms of Service"}) %>
    <div class="alert info" id="alert"> </div>
</div> <!-- /container -->
<div class="account">
    <div class="container">
        <h2>Privacy Policy</h2>

        <div class="row">
            <div class="col-12">
                <p>Your privacy is important to us. It is ClearList's policy to respect your privacy regarding any information we may
                    collect
                    from you across our website, <a href="https://clearlist.app">https://clearlist.app</a>, and other sites/applications
                    we
                    own and operate.
                </p>
                <h3 id="personalinformationwecollect">PERSONAL INFORMATION WE COLLECT</h3>
                <p>When you visit the Site, we automatically collect certain information about your device, including information
                    about
                    your web browser, IP address, time zone, and some of the cookies that are installed on your device.
                    Additionally, as
                    you browse the Site, we collect information about the individual web pages or products that you view. We refer
                    to
                    this automatically-collected information as “Device Information.”
                </p>
                <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and
                    lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be
                    used.
                </p>
                <p>We only retain collected information for as long as necessary to provide you with your requested service. What
                    data
                    we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised
                    access, disclosure, copying, use or modification.
                </p>
                <p>We don’t share any personally identifying information publicly or with third-parties, except when required to by
                    law.
                </p>
                <p>You have the right to ask for viewing, editing and removing data we have on you at any moment by sending us a
                    mail at <a href="mailto:me@joshua.ovh">me@joshua.ovh</a>.
                </p>
                <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over
                    the
                    content and practices of these sites, and cannot accept responsibility or liability for their respective privacy
                    policies.
                </p>
                
                <h3>REGISTRATION INFORMATION</h3>
                <p>When you create an account, we may collect certain information about you, such as:</p>
                <ul>
                    <li>Username</li>
                    <li>Email address</li>
                    <li>Twitter access token</li>
                    <li>Pocket access token</li>
                </ul>
                <p>You only grant us a read access to these information.</p>
                
                <h3 id="hosting">HOSTING</h3>
                <p>All of our data is hosted on Heroku:</p>
                <p><a href="https://heroku.com">Heroku</a><br>
                    Headquarters: Salesforce, 50 Fremont St. - Suite 300 - San Francisco, CA 94105
                </p>
                <h3 id="contactus">CONTACT US</h3>
                <p>For more information about our privacy practices, if you have questions, or if you would like to make a
                    complaint,
                    please contact us by e-mail at <a href="mailto:me@joshua.ovh">me@joshua.ovh</a> or by mail using the details
                    provided below:
                </p>
                <p>You are free to refuse our request for your personal information, with the understanding that we may be unable to
                    provide you with some of your desired services.
                </p>
                <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal
                    information. If you have any questions about how we handle user data and personal information, feel free to
                    contact
                    us.
                </p>
                <h3 id="changes">CHANGES</h3>
                <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or
                    for
                    other operational, legal or regulatory reasons.
                </p>
                <h3 id="thispolicyiseffectiveasof1february2019">This policy is effective as of 18 July 2019.</h3>
            </div>
            
            <h2>Terms of services</h2>
            <div class="col-12">
                <h3 id="1terms">1. Terms</h3>
                <p>By accessing the website at <a href="https://clearlist.app">https://clearlist.app</a>, you are agreeing to be bound
                    by
                    these
                    terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with
                    any
                    applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing
                    this
                    site. The materials contained in this website are protected by applicable copyright and trademark law.
                    The Company may change, add, suspend, cancel, remove or otherwise modify the services offered on this website at
                    any
                    time without prior notice.
                </p>
                <h3 id="2uselicense">2. Use License</h3>
                <ul>
                    <li>
                        <p>Permission is granted to temporarily download one copy of the materials (information or software) on
                            ClearList's
                            website for personal, non-commercial transitory viewing only. This is the grant of a license, not a
                            transfer
                            of title, and under this license you may not:
                        </p>
                        <ul>
                            <li>
                                <p>modify or copy the materials;</p>
                            </li>
                            <li>
                                <p>use the materials for any commercial purpose, or for any public display (commercial or
                                    non-commercial);
                                </p>
                            </li>
                            <li>
                                <p>attempt to decompile or reverse engineer any software contained on ClearList's website;</p>
                            </li>
                            <li>
                                <p>remove any copyright or other proprietary notations from the materials; or</p>
                            </li>
                            <li>
                                <p>transfer the materials to another person or "mirror" the materials on any other server.</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>This license shall automatically terminate if you violate any of these restrictions and may be terminated
                            by
                            ClearList at any time. Upon terminating your viewing of these materials or upon the termination of this
                            license,
                            you must destroy any downloaded materials in your possession whether in electronic or printed format.
                        </p>
                    </li>
                </ul>
                <h3 id="3disclaimer">3. Disclaimer</h3>
                <p>The materials on ClearList's website are provided on an 'as is' basis. ClearList makes no warranties, expressed or
                    implied,
                    and
                    hereby disclaims and negates all other warranties including, without limitation, implied warranties or
                    conditions of
                    merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other
                    violation
                    of rights.
                    Further, ClearList does not warrant or make any representations concerning the accuracy, likely results, or
                    reliability
                    of the use of the materials on its website or otherwise relating to such materials or on any sites linked to
                    this
                    site.
                </p>
                <h3 id="4limitations">4. Limitations</h3>
                <p>In no event shall ClearList or its suppliers be liable for any damages (including, without limitation, damages for
                    loss of
                    data or profit, or due to business interruption) arising out of the use or inability to use the materials on
                    ClearList's
                    website, even if ClearList or a ClearList authorized representative has been notified orally or in writing of the
                    possibility
                    of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of
                    liability for consequential or incidental damages, these limitations may not apply to you.
                </p>
                <h3 id="5accuracyofmaterials">5. Accuracy of materials</h3>
                <p>The materials appearing on ClearList's website could include technical, typographical, or photographic errors.
                    ClearList
                    does
                    not warrant that any of the materials on its website are accurate, complete or current. ClearList may make changes
                    to
                    the
                    materials contained on its website at any time without notice. However ClearList does not make any commitment to
                    update
                    the materials.
                </p>
                <h3 id="6links">6. Links</h3>
                <p>ClearList has not reviewed all of the sites linked to its website and is not responsible for the contents of any such
                    linked site. The inclusion of any link does not imply endorsement by ClearList of the site. Use of any such linked
                    website is at the user's own risk.
                </p>
                <h3 id="7modifications">7. Modifications</h3>
                <p>ClearList may revise these terms of service for its website at any time without notice. By using this website you are
                    agreeing to be bound by the then current version of these terms of service.
                </p>
                <p>We reserve the right, without notice, to edit, refuse to publish or remove any content from the Site for any
                    reason
                    whatsoever, including but not limited to, that we believe part or all of the content:
                </p>
                <ul>
                    <li>is in need of editing for grammar, spelling or readability</li>
                    <li>is off topic</li>
                    <li>is inaccurate</li>
                    <li>is false, misleading or defamatory</li>
                    <li>is offensive, abusive or uncivil in tone</li>
                    <li>is harmful, threatening or intimidating</li>
                    <li>contains profanity, hate messages or personal attacks against others</li>
                    <li>constitutes spam, phishing or any form of advertising or solicitation</li>
                    <li>is used in conjunction with any automated or other means to artificially drive user traffic to the Site</li>
                    <li>disguises the origin of any user content transmitted to the Site</li>
                    <li>impersonates another person or misrepresents your affiliation with a person or entity</li>
                    <li>violates another person's or entity's intellectual property rights, publicity or privacy rights or other
                        legal
                        rights
                    </li>
                    <li>contains software viruses or any other malicious code, files or programs which may interrupt, destroy or
                        limit
                        the functionality of computer software or hardware or telecommunications equipment
                    </li>
                    <li>is otherwise inappropriate or undesirable for the Site.</li>
                </ul>
                <h3 id="8governinglaw">8. Governing Law</h3>
                <p>These terms and conditions are governed by and construed in accordance with the laws of France and you
                    irrevocably
                    submit to the exclusive jurisdiction of the courts in that State or location.
                </p>
                <h3 id="9platformrules">9. Platform rules</h3>
                <p>Users agree to follow rules for the good of all, including but not only:</p>
                <ul>
                    <li>Respect every users of the Site, including the team</li>
                    <li>Not spread hate, harassment or any malicious act (racism, homophobia, antisemitism, discrimination,
                        attack...)
                    </li>
                    <li>Local laws</li>
                    <li>Not follow Service navigation instructions if it may lead to dangerous or illegal situations</li>
                    <li>Use the device only if in a safe situation (prohibited to use the device when the situation needs further
                        attention such as Driving)
                    </li>
                    <li>Priority is everybody's security</li>
                </ul>
                <p>
                    If you contribute content to any of our services, by commenting or uploading data, then you agree to licence that
                    content to ClearList under the same licence as prevails for that service or website.
                </p>
                <p>
                    You represent that you have the right to post any content to ClearList, and this content or its use by us as
                    contemplated by
                    this document does not violate any rule written here, applicable law, or the intellectual property (including but
                    not
                    limited to, copyrights, trademarks, patents...)
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <%- include('_footer') %>