html, body{
	padding:0;
	margin: 0;
	background: #6b778d;
}
*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
}
a { color: inherit}

header{
	padding: 10;
	text-align:center;
	display: flex;
    justify-content: space-between;
    align-items: center;
	font-style: normal;
	color: white;
}
header h1{
	cursor: pointer;
}
header .join{
	font-size: 20px;

}
header .join i{margin-right: 5px;}
header a{
	text-decoration: none;
	color:inherit;
}

.vertical-flex{
	display: flex;	
	align-items: center;
	min-height: 300px;
	padding: 20px 0;
	flex-wrap: wrap;
}
.vertical-flex:not(:last-child){
	border-bottom: 1px #EEE solid;
}

.home, .premium{
	background: #FFF;
}
.home .text, .premium .text{
	font-size: 20px;
	text-align: center;
}
.home .illustration, .premium .illustration{
	margin: 0 auto;
	text-align: center;
}
.home .illustration .emoji, .premium .illustration .emoji{
	display: block;
	text-align: center;
	font-size: 60px;
}
.home .illustration img, .premium .illustration img{
	width: 100%;
	border-radius: 8px;
	-webkit-box-shadow: 5px 5px 17px -10px rgb(112, 112, 112);
	-moz-box-shadow: 5px 5px 17px -10px rgb(112, 112, 112);
	box-shadow: 5px 5px 17px -10px rgb(112, 112, 112);
	height: auto;
}
.home .illustration img.maker{
	border-radius: 50%;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.join--cta{
	display: inline-block;
	margin-top: 25px;
	text-decoration: none;
	padding: 10px;
	border-radius: 8px;
	background: #57FFDB;
	transition: all .2s linear;
	font-size: 20px;
	color: black;
}
.join--cta:hover{
	background: #57FFDB;
	-webkit-box-shadow: 5px 5px 17px -10px rgb(112, 112, 112);
	-moz-box-shadow: 5px 5px 17px -10px rgb(112, 112, 112);
	box-shadow: 5px 5px 17px -10px rgb(112, 112, 112);
}

.onboard{
	margin-top:50px;
	text-align: center;
}
.onboard.final{
	margin: 100px 0;
}

.onboard h1{
	font-style: bold;
	font-weight: 500;
}
.onboard form{
	padding: 20px; 
	background: white; 
	border-radius: 8px;
}
.onboard input{
	width: 100%; max-width: 610px;
	line-height: 27px; font-size: 18px;
	padding: 5px; border:none;
	background: none; 
	border: 2px solid #6b778d;
	border-radius: 0 5px;
	outline: 0;
}
.onboard input::placeholder{color: #999;}
.onboard button{
	line-height: 27px; font-size: 18px;
	background: none; 
	border:none;
	border: 2px solid #6b778d;
	border-left: 4px solid #6b778d;
	border-bottom: 4px solid #6b778d;
	border-radius: 0 5px;
	cursor:pointer;
}
.onboard button:active{
	border:none;
	background:#6b778d;
	border-left: 2px solid #6b778d;
	border-bottom: 3px solid #6b778d;
}

.account {
	background: white;
	width:100%;
	padding: 10px;
	margin-top: 50px;
}
.pocket--status{
	width:12px;
	height:12px;
	border-radius: 6px;
	display: inline-block;
}
.pocket--status.active{
	background: #57FFDB;
}
.pocket--status.inactive{
	background: #eec10e;
}

hr {
	width: 80%;
  	border:none;
  	height: 20px;
 	width: 90%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #EEE;
  	margin: -50px auto 10px; 
}

.account .day_checkbox {
	display: none;
}
.account .day_checkbox_label{
	cursor:pointer;
	padding: 8px;
	background-color: #FFF;
	-webkit-box-shadow: 5px 5px 17px -8px rgba(112, 112, 112, .6);
	-moz-box-shadow: 5px 5px 17px -8px rgba(112, 112, 112, .6);
	box-shadow: 5px 5px 17px -8px rgba(112, 112, 112, .6);
	display: inline-block;
	margin: 10px;
}

[type="checkbox"]:not(:checked) + label.day_checkbox_label {
	background: #eec10e;
}

[type="checkbox"]:checked + label.day_checkbox_label {
	background: #57FFDB;
}
.account input[type="submit"].settings{
	border: none;
	cursor: pointer;
	margin-bottom: 25px;
	text-decoration: none;
	padding: 10px;
	border-radius: 8px;
	background: #57FFDB;
	transition: all .2s linear;
	font-size: 14px;
	color: black;
}
.account input[type="submit"].settings:hover{
	-webkit-box-shadow: 5px 5px 17px -10px rgb(112, 112, 112);
	-moz-box-shadow: 5px 5px 17px -10px rgb(112, 112, 112);
	box-shadow: 5px 5px 17px -10px rgb(112, 112, 112);
}
.account select{
	width: 80%;
	padding: 10px;
	font-size: 12px;
}
.account label[for="timezone_offset"], .account label[for="hour_preference"]{
	margin-top: 10px;	
	display: inline-block
}

.account table{
	width: 100%;
	text-align: center;
}
.account table tr th{
	font-size:20px;
	background: #EEE;
	cursor: default;
	color: black;
}
.account table td, .account table th {
	padding: 8px;
}
.account table tr td a{ color: black; }
.account table tr:nth-child(even){background-color: #f2f2f2;}
.account table tr:hover {background-color: 57FFDB;}
.account table tr .arLinks{
	display:flex; 
	justify-content: space-around;
	min-width:100px;
}.account table tr .arLinks i{ cursor: pointer; }

.alert{
	position: fixed;
	right: 5px;
	top: 5px;
	max-width: 250px;
	z-index: 10;
	background-color: #FFF;
	-webkit-box-shadow: 5px 5px 17px -8px rgb(112, 112, 112);
	-moz-box-shadow: 5px 5px 17px -8px rgb(112, 112, 112);
	box-shadow: 5px 5px 17px -8px rgb(112, 112, 112);
	border-radius: 8px;
	padding: 16px;
	display: none;
}


.center {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}

footer {
	padding: 20px;
	display: flex;
	color: #FFF;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer a{
	margin: 0 10px;
}